.App {
  text-align: center;
  margin-top: 50px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 10px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
}

.date-heading {
  font-size: 18px; /* 较小的字体大小更适合非主要元素 */
  color: #007bff; /* 使用 Bootstrap 主题蓝色 */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-text {
  font-size: 18px; /* 标准文本大小 */
  color: #333333; /* 较深的灰色，提高可读性 */
  font-family: 'Arial', sans-serif; /* 通用字体家族 */
  margin: 5px auto;
  line-height: 1.5;
}

